@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* utility classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}


.vw-vh {
    width: 100%;
    min-height: 100vh;
}

.flex {
    display: flex;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.4px;
}

h3 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.4px;
}
p{
    text-align: center;
}

/* global variables */
:root {
    --text-primary: #333;
    --text-secondary: #4d4a4a;
    --bg-purple: rgb(103, 1, 236);
    --bgColor-primary:#ffffff;
    --section-padding:6rem;
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Header and navbaar */
.header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.nav {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color:var(--bgColor-primary);
}

.logo-name {
    display: flex;
    align-items: center;
    width: 19rem;
    height: 70px;
    padding-inline: 20px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    display: inline-block;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.name {
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-primary);
    font-family: inherit;
    cursor: pointer;
}
.name:hover{
    color: var(--bg-purple);
}

.nav-menu {
    height: 70px;
    width: 34rem;
}

.nav-menu2 {
    position: fixed;
    top: 75px;
    right: -50%;
    display: none;
    width: 100%;
    z-index: 999;
}
.nav-menu2-display{
    display: none;
}
.nav-menu2 div{
    display: flex;
    justify-content: end;
}

.nav-menu2 ul {
    display: flex;
    width: 50%;
    height: 100vh;
    /* justify-content: end; */
    align-items: end;
    flex-direction: column;
    background-color: var(--bgColor-primary);
    gap: 8px;
}
.slider{
    right: 0px;
    animation: slider .6s ease-in reverse;
    display: block;
}
.slider2{
    right: -100%;
    transition: .6s ease-in;
    display: block;
}
.nav-menu2 ul li {
    padding: 10px 20px;
}

.content-links {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 4px 0px;
    gap: 30px;
    padding-inline: 20px;
}

.nav .hamberger-icon img {
    width: 100%;
    height: 40px;
}

.nav .hamberger-icon {
    display: none;
}
.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
.close {
    display: none;
    padding: 8px;
}

.links {
    padding: 7px;
    text-decoration: none;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 0.92rem;
    transition-duration: 1s;
    transition-property: border, border-radius, color;
    transition-timing-function: ease-out;
}

.links:hover {
    border: 1px solid var(--bg-purple);
    border-radius: 30px;
    color: var(--bg-purple);

}

.header-links:hover {
    transform: scale(1.1);
}
@keyframes slider {
    form{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(125px, 0px);
    }
}

/* Home Page */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./Img/portfolio_bg.jpg);
    background-size: cover;
}

#social-link-section {
    width: 4rem;
    max-height: 330px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, .2) 0 7px 29px 0;
    padding: 20px 0px;
}

.social-icons {
    padding: 6px;
}

.social-icons-links {
    display: block;
    width: 100%;
    border-radius: 6px;
    transition: 0.19s ease-in;
}

/* .social-icons-links:hover {
    background-color: rgb(218 196 247);
    border-radius: 10px;
    color: var(--bg-purple);

} */

.social-icons-links-logo {
    width: 100%;
    margin-top: 4px;
}
.social-icons-links:hover {
    /* background-color: rgb(239, 214, 247); */
    background-color: rgb(218 196 247);
    border-radius: 10px;
    color: var(--bg-purple);
}
#info-section {
    width: calc(100% - 4rem);

}

.small-info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-inline: 13px;
}

.myname {
    width: 100%;
    font-weight: 600;
}

.heading-primary {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    padding-inline: 15px;
    letter-spacing: 3px;
    color: #111;
    text-transform: uppercase;
    font-family: inherit;
}

.info {
    width: 100%;
    margin-top: 30px;
}

.text {
    text-align: center;
    font-size: 1.5rem;
    font-family: inherit;
    padding-inline: 20vw
    /* width: 75%;
    margin: 0 auto; */
}

/* About Section Page */
.about-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: #fafafa;
    padding-top: var(--section-padding);
    font-family: "Roboto", sans-serif;
}

.heading {
    width: 700px;
    /* height: 170px; */
    margin: 10px;
}

.box2 {
    justify-content: center;
    width: 95%;
    margin: 36px;
}

.box3 {

    width: 200px;
    height: 100px;
    border: 2px solid violet;
    margin: 10px;
}

.heading h1 {
    text-align: center;
    letter-spacing: 4px;
    display: block;
    margin-top: 12px;
    font-size: 2rem;
}

.heading .short-info-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

.spn {
    display: block;
    width: 40px;
    height: 6px;
    background: var(--bg-purple);
    border-radius: 10px;
    margin-top: 10px;
}

.short-info {
    width: 658px;
    height: 80px;
    margin-top: 10px;
    text-align: center;
    color: var(--text-secondary);
    letter-spacing: 1.6px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}

.main-about {
    width: 45%;
    margin: 20px;

}

.main-about p {
    margin-top: 16px;
    text-align: justify;
    color: #555;
    line-height: 28px;
    font-size: 18px;
}

#p1 {
    margin-top: 45px;
}

.skills {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin-top: 45px;
}

.skills div {
    width: auto;
    height: 50px;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    padding: 15px 15px;
    color: #666;
    font-weight: 600;
    text-align: center;
    margin: 8px;
}

/* Projects Section Page */
#projects-section{
    width: 100%;
    background-color: var(--sec-bgColor);
}
.project-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: #fafafa;
    padding-top: var(--section-padding);
    font-family: "Roboto", sans-serif;
}
.project-wrapper{
    flex-direction: column;
    row-gap: 4rem;
}
.projects{
    width: 90%;
    margin: auto;
    padding: 20px;
}
.project-outer{
    justify-content: center;
}
.project-image {
    padding: 7px 20px;
}
.project-detail{
    padding: 7px 20px;
    width: 100%;
}
.image{
    width: 80%;
    margin: auto;
    padding-block:17px;
}
.image img{
    width: 100%;
    object-fit: cover;
}
.project-name-details{
    text-align: start;
}
.project-name{
    font-size: 1.5rem;
    text-align: start;
    padding-block: 10px;
}
.about-project{
    text-align: start;
    padding-block: 10px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.3vw;
}
.project-button{
    padding-block: 15px;
}
.project-button button{
    padding: 17px 50px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--bg-purple);
    border: none;
    transition: .33s ease-in-out;
}
.project-button button:hover{
    transform: translateY(-5px);
    background-color:rgb(141, 64, 242) ;
}
.project-button button a,
.mini-btn{
    color: #ffffff;
}
.mini-btn span img{
    width: 12px;
    margin: 5px 0px 0px 3px;
    filter: invert(1);
}
.rotate-arrow{
    transform: rotate(180deg);
}
.rotate-arrow1{
    transform: rotate(0deg);
}
.miniProject-section,
.mini-projects{
    width: 100%;
}
.mini-projects{
    justify-content: center;
}
.mini{
    display: none;
    margin-block: 15px;
}
.miniProjects-boxes{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.miniParent{
    position: relative;
    width: 20%;
    height: 200px;
    border: 1px solid var(--bg-purple);
    border-radius: 8px;
    overflow: hidden;
    background-color: gainsboro;
}
.projectLink{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projectLink img{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.6s ease-in-out;
}
.MiniProjectName{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    font-size: 1.5rem;
    padding: 8px;
    text-transform: uppercase;
    transition: 0.7s ease-in-out;
}
.MiniProjectName h4{
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.miniParent:hover .MiniProjectName{
    opacity: 0;
    position: relative;
    top: -203px;   
}
.miniParent:hover .projectLink img{
    opacity: 1;
    width: 100%;
    height: 100%;
}


/* Contact Section Page */
#contact {
    padding: var(--section-padding);
    background-image: url(./../Img/portfolio_bg.jpg);
    background-size: cover;
}

.contact-div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.contact-form {
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.inner-box {
    width: 660px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    margin: 0 auto;
}

.inner-box h1 {
    text-align: center;
    font-size: 2.5rem;
}

.inner-box .contact-form-box {
    width: 100%;
    margin-top: 10px;
}

.inner-box .contact-form-box form {
    margin: 0 auto;
}

.contact-info div {
    width: 100%;
    margin-top: 20px;
}

.contact-info div label {
    display: block;
    color: var(--text-primary);
    font-size: 0.97rem;
    font-weight: bold;
}

.contact-info div input {
    width: 100%;
    padding: 25px 10px;
    font-size: 0.85rem;
    color: #333333e3;
    font-weight: 500;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    background-color: #f3f3f6;
    border: #e4e1e1;
}

.contact-info div textarea {
    width: 100%;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 0.85rem;
    color: var(--text-primary);
    font-weight: 500;
    background-color: #f3f3f6;
    border: #e4e1e1;
    outline: none;
    resize: none;
    vertical-align: top;
    text-align: left;
    overflow-y: auto;
}

#submit-btn {
    margin-top: 25px;
}

.contact-info div input[type="submit"] {
    background-color: var(--bg-purple);
    color: #fff;
    width: 30%;
    padding: 18px 10px;
    font-size: 0.98rem;
    font-weight: 600;
    cursor: pointer;
    transition: .26s ease-in-out;
}
.contact-info div input[type="submit"]:hover{
    background-color: rgb(141, 64, 242);
}

/* Footer Section */
.footer-section{
    width: 100%;
    background-color: #000;
}
.footer-container{
    max-width: 75rem;
    margin: auto;
    width: 92%;
    padding-top: 40px;
}
.upper-footer,.lower-footer{
    width: 100%;
}
.upper-footer{
    justify-content: space-between;
}

.upper-footer-name{
    width: 40%;
}
.upper-footer-name{
    padding: 40px;
}
.upper-footer-name h2{
    color: #ffffff;
    text-align: left;
    font-size: 1.4rem;
}
.upper-footer-name p{
    color: #eee;
    margin-top: 1.5rem;
    font-size: 0.92rem;
    line-height: 1.7;
    text-align: left;
}
.upper-footer-social{
    padding-top: 30px;
}
.upper-footer-social h2{
    color: #fff;
    font-size: 1.6rem;
}
.footer-social{
    margin-top: 15px;
}
.footer-social a img{
    width: 30px;
    filter: invert();
    margin-left: 8px;
    transition: .22s ease-in-out;
}
.footer-social a img:hover{
    background-color: rgb(119 175 58);
    border-radius: 2px;
}
.lower-footer{
    border-top:1px solid #444;
    padding: 30px 0;
    text-align: center;
}
.lower-footer a{
    color: #eee;
    font-size: 0.77rem;
    font-weight: 700;
    text-decoration: underline;
}
.lower-footer::before{
    content: '© Copyright 2024 . Made by ';
    text-decoration: none;
    color: #eee;
    font-size: 0.77rem;
}