@media (min-width: 769px) and (max-width: 992px){
    .container{
        width: 100%;
        padding: 30px 40px;
        row-gap: 2rem;
    }
    .project-container{
        gap: 2rem;
    }
    .project-heading h2{
        font-size: 3.8vw;
    }
    .project-info{
        margin-top: 20px;
    }
    .project-info p{
        font-size: 2.2vw;
    }
    .more-about{
        gap: 4px;
    }
    .more-about h4{
        font-size: 2.4vw;
    }
    .more-about img{
        width: 20px;
    }
    .more-about  a img{
        width: 35px;
    }
    .section{
        padding: 20px 10px;
        margin-bottom: 5px;
    }
    .title{
        width: 100%;
    }
    .title h2{
        font-size: 3vw;
    }
    .designs{
        row-gap: 32px;
        column-gap: 40px;
    }
    .designs img{
        width: 40%;
    }
}

@media screen and (min-width:640px) and (max-width:768px) {
    .container{
        width: 100%;
        padding: 35px 25px;
        row-gap: 2rem;
    }
    .project-container{
        gap: 2rem;
    }
    .project-heading h2{
        font-size: 4.5vw;
    }
    .project-info{
        margin-top: 20px;
    }
    .project-info p{
        font-size: 2.5vw;
    }
    .more-about{
        gap: 4px;
    }
    .more-about h4{
        font-size: 2.8vw;
    }
    .more-about img{
        width: 20px;
    }
    .more-about  a img{
        width: 35px;
    }
    .section{
        padding: 20px 10px;
        margin-bottom: 5px;
    }
    .title{
        width: 100%;
    }
    .title h2{
        font-size: 4vw;
    }
    .designs{
        row-gap: 32px;
        column-gap: 40px;
    }
    .designs img{
        width: 40%;
    }
}

@media screen and (min-width:426px) and (max-width:640px) {
    .container{
        width: 100%;
        padding: 30px 25px;
        row-gap: 2rem;
    }
    .project-container{
        gap: 2rem;
    }
    .project-heading h2{
        font-size: 5vw;
    }
    .project-info{
        margin-top: 20px;
    }
    .project-info p{
        font-size: 3vw;
    }
    .more-about{
        gap: 4px;
    }
    .more-about h4{
        font-size: 3.2vw;
    }
    .more-about img{
        width: 20px;
    }
    .more-about  a img{
        width: 35px;
    }
    .section{
        padding: 20px 10px;
        margin-bottom: 5px;
    }
    .title{
        width: 100%;
    }
    .title h2{
        font-size: 4vw;
    }
    .designs{
        row-gap: 32px;
        column-gap: 40px;
    }
    .designs img{
        width: 40%;
    }
}

@media  screen and (max-width:426px) and (min-width:321px) {
    .container{
        width: 100%;
        padding: 25px 20px;
        row-gap: 2rem;
    }
    .project-container{
        gap: 2rem;
    }
    .project-heading h2{
        font-size: 7vw;
    }
    .project-info{
        margin-top: 20px;
    }
    .project-info p{
        font-size: 4.5vw;
    }
    .more-about{
        gap: 4px;
    }
    .more-about h4{
        font-size: 4.5vw;
    }
    .more-about img{
        width: 20px;
    }
    .more-about  a img{
        width: 35px;
    }
    .section{
        padding: 20px 10px;
        margin-bottom: 5px;
    }
    .title{
        width: 100%;
    }
    .title h2{
        font-size: 5.5vw;
    }
    .designs{
        row-gap: 32px;
        column-gap: 40px;
    }
    .designs img{
        width: 40%;
    }
}

@media screen and (max-width:320px) {
    .container{
        width: 100%;
        padding: 25px 15px;
        row-gap: 2rem;
    }
    .project-container{
        gap: 2rem;
    }
    .project-heading h2{
        font-size: 8vw;
    }
    .project-info{
        margin-top: 20px;
    }
    .project-info p{
        font-size: 5vw;
    }
    .more-about{
        gap: 4px;
    }
    .more-about h4{
        font-size: 4.8vw;
    }
    .more-about img{
        width: 20px;
    }
    .more-about  a img{
        width: 35px;
    }
    .section{
        padding: 20px 10px;
        margin-bottom: 5px;
    }
    .title{
        width: 100%;
    }
    .title h2{
        font-size: 5.5vw;
    }
    .designs{
        row-gap: 32px;
        column-gap: 40px;
    }
    .designs img{
        width: 40%;
    }
}