* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--bgColor-primary);
}

.Web_dev-project-wrapper{
    width: 100%;
    padding: 50px 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.web-project-outer{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.web-project-image{
    padding: 20px 20px;
    border-radius: 15px;
    border: 3px solid var(--border);
    box-shadow: 0 8px 32px rgba(124, 111, 255, 0.2);
    transition: 0.25s ease-in;
}

.web-project-image,
.project-detail{
    width: 50%;
    height: stretch;
}

.web_dev-image img{
  width: 100%;
  border-radius: 5px;
  align-self: center;
}

.case-btn{
    margin-top: 16px;
}