*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.flex{
    display: flex;
}
.wrapper{
    width: 100%;
    /* height: 100vh; */
}
.main-section{
    padding-bottom: 10.2rem;
}
.container{
    background-color: #f0f2f5;
}
.innerContainer{
    height: 100%;
    width: 1178px;
    margin:auto;
    padding: 30px;
    display: flex;
    gap: 20px;
}
.fb-nameInfo{
    width: 56%;
    padding: 9.88rem 20px 20px;
}
.fb-nameInfo-wrapper{
   flex-direction: column;
   height: 100%;
}
.fb-name{
   width: auto;
   
}
.fb-name img{
    width: 320.938px;
}
.fb-short-info{
    padding-left: 32px;
    font-size: 28px;
    font-weight: 300;
}
.shortinfo h4{
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-left: 105px;
    color: #1c1e21;
}
.name{
    height: 80px;
    width: 350px;
    margin: 7px 0px 0px 60px;
    text-align: center;
}
.fbimg{
    margin: 0px 0px -4px 0px;
    width: 90%;
    height: 106px;
    text-align: center;
    font-weight: 400;
}
.login-outer{
    width: calc(100% - 56%);
    padding: 6.55rem 70px 0px 10px;
}
.login{
    width: 100%;
}
.login-inner{
    width: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 6px;
}
.form{
    width: 100%;
}
form input{
    width: 100%;
    padding: 14px 16px;
    border-radius: 6px;
    font-size: 17px;
    border: 1px solid #ccc;
}
.login-button{
    margin-block: 5px;
}
form button{
    width: 100%;
    padding: 12px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #0866ff;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
form div{
    padding-block: 6px;
}
.forgot{
    width: 100%;
    margin-top: 8px; 
    font-size: 14px;
    text-align: center;
}
.forgot a{
    text-decoration: none;
    color: #0866ff;
}
.forgot1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
   
}
.line{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    margin:0px 16px 14px;
    text-align: center;
}
.new-account div{
   width: 54%;
   margin: auto;
}
.new-account button{
    background-color: #42b72a;
    font-size: 17px;
    padding: 14px 10px;
}
.new-account button:hover{
    background-color: #36a420;;
}
.creat-page{
    margin-top: 28px;
    text-align: center;
    font-size: 14px;
}
.creat-page a{
    text-decoration: none;
    cursor: pointer;
    color: #1c1e21;
    font-weight: 600;
}
.creat-page a:hover{
    text-decoration: underline;
}
.footer{
    width: 100%;
    padding: 25px;
    background-color: #ffffff;
}
.footer-outer{
    width: 70%;
    margin: auto;
    /* padding: 40px; */
}
.footer-outer ul li{
    list-style: none;
}
.footer-list{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}
.footer-list li a{
    color: rgb(87, 82, 82);
    text-decoration: none;
}
.hr-line{
    border-bottom: 1px solid #909397;
    font-size: 1px;
    height: 8px;
    margin-bottom: 8px;
}
.footer-menu{
    width: 100%;
}
.footer-menu-ul{
    flex-wrap: wrap;
    gap: 5px 21px;
    overflow-x: hidden;
    color: rgb(87, 82, 82);
    font-size: 13px;
}
.footer-menu-ul li a{
    color: rgb(87, 82, 82);
    font-size: 13px;
    text-decoration:none ;
}
.copyright{
    margin-block: 20px;
    font-size: 11px;
    color: rgb(87, 82, 82);
}
.footer-list li a,.footer-menu-ul li a:hover{
    text-decoration: underline;
}